@model IEnumerable<MVC.Models.PetViewModel>

@{
        ViewData["Title"] = "All Pets"; 
}

<h1>All Pets</h1>
<hr/>

<div class="row">
    @foreach(var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@item.ImageUrl" class="card-img-top" 
                alt="A picture of @item.Name" />
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Bredd: @item.Breed</p>
                </div>
            </div>
        </div>
    }
</div>